@font-face {
  font-family: "Chomsky";
  src: url("../fonts/Chomsky/Chomsky.otf") format("opentype");
  src: url("../fonts/Chomsky/Chomsky.woff") format("woff");
  src: url("../fonts/Chomsky/Chomsky.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-ExtraBold.ttf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-SemiBold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
.prices_title {
  font-size: 100px;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Chomsky";
  text-align: center;
}
.prices_subtitle {
  text-align: center;
  font-family: "Manrope";
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3;
  padding: 10px 0;
  margin-top: 30px;
  border-top: 1px solid #000;
  border-bottom: 4px solid #000;
}
.prices_freight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin: 10px 0;
}
.prices_freight .title-line {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 30px;
  background-color: #F6A428;
}
.prices_freight .text {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  font-family: "Manrope";
}
.prices_place {
  background: #f2f3f4;
  padding: 15px 10px;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.3;
  text-align: center;
  font-family: "Manrope";
}
.prices_table {
  width: 100%;
}
.prices_table table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.prices_table table tbody::before {
  content: "";
  display: block;
  height: 15px;
}
.prices_table table tbody tr:first-child {
  border-top: 1px solid #000;
}
.prices_table table tr th:last-child,
.prices_table table tr td:last-child {
  border-right: none;
}
.prices_table table th {
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  padding: 5px;
}
.prices_table table td {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 5px;
}
.prices_table table a {
  color: #fe8901;
  position: relative;
  font-weight: 600;
}
.prices_table table a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #fe8901;
}
.prices_foot {
  margin: 100px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid #fe8901;
  padding-bottom: 3px;
}
.prices_foot a {
  font-weight: 600;
}
.prices .marquee-row {
  width: calc(100% - 30px);
  overflow: hidden;
  padding: 15px;
  background: #f2f3f4;
}
.prices .marquee-row .marquee1 {
  -webkit-animation-name: marquee1;
          animation-name: marquee1;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}
@-webkit-keyframes marquee1 {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes marquee1 {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.prices .marquee-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prices .marquee-item-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.prices .marquee-item-list li {
  width: 100%;
  list-style: none;
  white-space: nowrap;
  position: relative;
}
.prices .marquee-item-list li::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  margin: auto 30px;
}
.prices .marquee-item-list li a {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
}
.prices .line {
  display: block;
  height: 12px;
  width: 100%;
  background: #fe8901;
  margin: 50px 0;
}