@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*** 
====================================================================
    Global Settings
====================================================================
***/
body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.7em;
  font-weight: 400;
  background: #fff;
  position: relative;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body.active {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.6em;
}

/* Typography */
h1 {
  font-size: 4em;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  position: relative;
  line-height: 1.8em;
}

.auto_container {
  position: relative;
  max-width: 1500px;
  padding: 0px 60px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border: 1px solid #DFDFDF;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #DFDFDF;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DFDFDF;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #fff;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "";
}
.hero_slider .slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  left: 100px;
  width: 36px;
  height: 24px;
  background: url("../images/svg/arrow_left.svg") no-repeat center;
  background-size: contain;
  z-index: 4;
}
.hero_slider .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 100px;
  width: 36px;
  height: 24px;
  background: url("../images/svg/arrow_right.svg") no-repeat center;
  background-size: contain;
  z-index: 4;
}
.hero_slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
}
.hero_slider .slick-dots li {
  display: block;
}
.hero_slider .slick-dots li button {
  display: block;
  width: 12px;
  height: 12px;
  border: none;
  opacity: 0.9;
  border-radius: 50%;
}
.hero_slider .slick-dots li.slick-active {
  width: 20px;
  height: 20px;
}
.hero_slider .slick-dots li.slick-active button {
  background: transparent;
  border: 5px solid #F7B032;
  background-size: contain;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.service_box .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 3;
  bottom: -20px;
}
.service_box .slick-dots li {
  display: block;
}
.service_box .slick-dots li button {
  display: block;
  width: 12px;
  height: 12px;
  border: none;
  opacity: 0.9;
  border-radius: 50%;
}
.service_box .slick-dots li.slick-active {
  width: 20px;
  height: 20px;
}
.service_box .slick-dots li.slick-active button {
  background: transparent;
  border: 5px solid #F7B032;
  background-size: contain;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 32px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  cursor: pointer;
  margin: 0 8px;
}
.slick-dots li button {
  border: 0;
  display: block;
  height: 14px;
  width: 14px;
  outline: none;
  color: transparent;
  border-radius: 50%;
  background: rgba(59, 59, 59, 0.5);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.slick-dots li button:focus {
  outline: none;
  background: #6ec9c7;
}
.slick-dots li.slick-active button {
  background: #6ec9c7;
  width: 28px;
  border-radius: 10px;
}

@font-face {
  font-family: "Chomsky";
  src: url("../fonts/Chomsky/Chomsky.otf") format("opentype");
  src: url("../fonts/Chomsky/Chomsky.woff") format("woff");
  src: url("../fonts/Chomsky/Chomsky.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-Bold.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-ExtraBold.ttf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-Regular.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope/static/Manrope-SemiBold.ttf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
.prices_title {
  font-size: 120px;
  font-weight: 400;
  line-height: 1.2;
  font-family: "Chomsky";
  text-align: center;
}
.prices_subtitle {
  text-align: center;
  font-family: "Manrope";
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
  padding: 10px 0;
  margin-top: 30px;
  border-top: 1px solid #000;
  border-bottom: 4px solid #000;
}
.prices_freight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin: 10px 0;
}
.prices_freight .title-line {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 30px;
  background-color: #F6A428;
}
.prices_freight .text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  font-family: "Manrope";
}
.prices_place {
  background: #f2f3f4;
  padding: 15px 10px;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  font-family: "Manrope";
  margin-bottom: 20px;
  white-space: nowrap;
}
.prices_table {
  width: 100%;
}
.prices_table table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-family: "Manrope";
}
.prices_table table tbody::before {
  content: "";
  display: block;
  height: 15px;
}
.prices_table table tbody tr:first-child {
  border-top: 1px solid #000;
}
.prices_table table tr th:last-child,
.prices_table table tr td:last-child {
  border-right: none;
}
.prices_table table th {
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  padding: 5px;
  font-size: 22px;
}
.prices_table table td {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 5px;
  font-size: 20px;
}
.prices_table table a {
  color: #fe8901;
  position: relative;
  font-weight: 600;
}
.prices_table table a::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #fe8901;
}
.prices_foot {
  margin: 100px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 3px solid #fe8901;
  padding-bottom: 3px;
}
.prices_foot a {
  font-size: 20px;
  font-weight: 800;
  font-family: "Manrope";
}
.prices .marquee-row {
  width: calc(100% - 30px);
  overflow: hidden;
  padding: 15px;
  margin: 20px 0;
  background: #f2f3f4;
}
.prices .marquee-row .marquee1 {
  -webkit-animation-name: marquee1;
          animation-name: marquee1;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
}
@-webkit-keyframes marquee1 {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes marquee1 {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
.prices .marquee-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.prices .marquee-item-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.prices .marquee-item-list li {
  width: 100%;
  list-style: none;
  white-space: nowrap;
  position: relative;
}
.prices .marquee-item-list li::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  margin: auto 30px;
}
.prices .marquee-item-list li a {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
  font-family: "Manrope";
}
.prices .line {
  display: block;
  height: 12px;
  width: 100%;
  background: #fe8901;
  margin: 50px 0;
}
.prices_desc-table table {
  border-collapse: collapse;
  width: 100%;
  font-family: "Manrope";
}
.prices_desc-table table tr th:first-child,
.prices_desc-table table tr td:first-child {
  width: 15px;
}
.prices_desc-table table tbody tr:nth-of-type(odd) {
  background: #f3f3f3;
}
.prices_desc-table table th {
  text-align: left;
  color: #fff;
  background: #000;
  padding: 5px;
  font-size: 20px;
  font-weight: 500;
}
.prices_desc-table table td {
  padding: 5px;
  -moz-text-size-adjust: none;
   -ms-text-size-adjust: none;
       text-size-adjust: none;
  -webkit-text-size-adjust: none;
  font-size: 18px;
  font-weight: 500;
}

.marquee_inner-box {
  background-color: #f8f8f8;
  padding: 10px 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 20px 0;
}
.marquee_inner-box-item {
  padding: 10px 0px 10px 0px;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.3;
  font-family: "Manrope";
  position: relative;
}
.marquee_inner-box-item::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  margin: auto 30px;
}

@media (max-width: 1100px) {
  .auto_container {
    padding: 0 35px;
  }
}
@media (max-width: 400px) {
  .auto_container {
    padding: 0 20px;
  }
}